@import "tailwindcss";

@theme{
  /* --color-dark_teal-500 :#d9e1e1;   */
  --color-dark_teal-500 :#dce8e8;  
  --color-nav_bar-100 : #002b2b;
  --color-res_b-100:#e8e3d9;
  /* --color-res_b-100:#e8e3d9; */
   --tracking-2: 8em;

}

html, body, #root {
  height: 100%;
  background-color: #002b2b;
}


.teal{ 
  background-color: #215D6E;
}